[[extend 'layout.html']]

<style>
  [v-cloak] {
       display: none;
  }
  .dropdown-menu {
  max-height: 14em;
  overflow: scroll;
  }

  .box {
    overflow: auto;
  }
  </style>


<div class="section" id="app" v-cloak>


  <h1 class="title">Regional Data<span v-if="active_species"> ({{active_species}})</span></h1>
  
  <div class="columns is-multiline">
    <div class="column is-one-quarter">
      
      <div class="box">Total Number of Sightings of all Birds: {{total_sightings}}</div>

      <div class="box">Number of Checklists: {{total_checklists}}</div>

      <div class="card">
        <div class="card-content">
          Get Detailed Sightings by Species:
          <div class="dropdown" :class="{'is-active': dropdown_active}">
            <div class="dropdown-trigger">
              <button class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu" @click="click_dropdown()">
                <span>Select Bird</span>
                <span class="icon is-small">
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content" v-for="(b, b_idx) in location_data">
                <a class="dropdown-item" :class="{'is-active': b.species === active_species}" @click="select_bird(b)">{{b.species}}</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="column is-half">
      <div class="box"><canvas ref="speciesChart"></canvas></div>
    </div>
    <div class="column is-one-quarter">
      <div class="box">        
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Checklists Contributed</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="c in top_contributors"><td>{{c.name}}</td><td>{{c.contributions}}</td></tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>


</div> <!-- class=section, id=app -->


[[block page_scripts]]
<script>
  let get_location_data_url = "[[=XML(get_location_data_url)]]";
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.21/vue.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/location.js"></script>

[[end]]
