[[extend 'layout.html']]

<style>
  [v-cloak] {
       display: none;
  }
  
  </style>


<div class="section" id="app" v-cloak>

  
  <h1 class="title">Location</h1>
  <!-- 1) A list of species seen in the region, with the number of checklists and total number of sightings for the region. -->
  <!-- 2) Some kind of graph showing the number of birds in a species seen over time. 
          For example, when one clicks on a species in the above list, such graph should be displayed. -->
  <!-- 3) Some information on the top contributors for the region. -->
  <div>Total Number of Sightings in this Region: ___</div>
  <br>
  <div class="columns is-multiline">
    <div class="column is-one-quarter">List of Species in Region:



    </div>
    <div class="box column is-half"><canvas ref="speciesChart"></canvas></div>
    <div class="column is-one-quarter">Top Contributors:




    </div>

  </div>


  <div>
    <button class="button is-success" @click="make_chart()">testing button (make chart appear)</button>
  </div>


</div> <!-- class=section, id=app -->




[[block page_scripts]]
<script>

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.21/vue.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/location.js"></script>

[[end]]
